
ul.nav {
  list-style-type:none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: green;
}

li.nav {display: inline;
padding: 10px;
margin: 50px;
float: ;
}
a{text-decoration: none;
color: salmon;
font-size: 200%}
 
li a:hover {background-color: salmon;
font-size: 130%;
color: green}



.container {width: 50%;
height: 150vh;
display:flex;
align-items:center;
justify-content:space-evenly;}

.first {background-color: blue;
font-size: 25px;
 font-family:arial;
  position: fixed;
  right:300px;
  
}


.sec {background-color:salmon;
font-size: 200px;
  border:dashed green;
right:0}

.third {background-color: purple;
font-size: 100px;
right:0}
  
  @media only screen and (max-width:1024px;)
 
  .container { flex-direction: column;} 
    
    
  }

body {background-color: grey;}



p 








