 t {font-size:100px;
font-family: Arial, Helvetica, sans-serif;
color:aqua;}

  
  
  
  function topFunction() 
{document.body.scrollTop = 0;
	document.documentElement.scrollTop = 0;
}

function hideFunction() {
  if (document.body.scrollTop > 150 || document.documentElement.scrollTop > 50) document.getElementById("topbutton").style.display = "block";
  else {   document.getElementById("topbutton").style.display = "none";

    
  }

  
}
  
  
  
  window.onscroll = function() {hideFunction()};
  

 ul.nav {
  list-style-type:none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: red;
}

li.nav {display: inline;
padding: 10px;
margin: 50px;
float: ;
}
a{text-decoration: none;
color: aqua;
font-size: 200%}
 
li a:hover {background-color: red;
font-size: 130%;
color: green}

